@media ( min-width : 360px ) {

  .card:nth-of-type( 1 ) {
    display: flex;
  }

  h1 {
    padding: 20px;
    text-align: center;
  }

  .mealpage {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .imagefood {
    width: 150px;
  }
}

@media ( min-width : 361px ) {

  .card:nth-of-type( 2 ) {
    display: flex;
  }

  h1 {
    padding: 20px;
    text-align: center;
  }

  .mealpage {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .imagefood {
    width: 250px;
  }

}
